body{
    margin: 0;
}
.nav-bar{
    background-color: rgb(59, 175, 252);
    padding: 20px;
}

.nav-bar a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin: 20px;
}
.nav-bar a:hover{
    cursor: pointer;
}